@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


body {
  font-family: "Montserrat", sans-serif;
}

@theme {
  --color-primary: #cc922f;
  --color-border: #dfddddab;
  --color-footer-background: #111111;
  --color-secondary: #6b6064;
  --color-background: #f5f5f5;
}


.custom-swiper .swiper-button-next,
.custom-swiper .swiper-button-prev {
  @apply text-white bg-black/40 p-3 rounded-full hover:bg-black/60;
}

.custom-swiper .swiper-button-next::after,
.custom-swiper .swiper-button-prev::after {
  @apply text-lg;
}